<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>

		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FloorMaterialEstimator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<legacyCorruptedStateExceptionsPolicy enabled="true" /> 
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
				<dependentAssembly> 
						<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" /> 
						<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" /> 
				</dependentAssembly> 
		</assemblyBinding>
	</runtime>
	<appSettings>

		<!-- File paths -->

		<add key="OceOperatingDataFolder" value="C:\OCEOperatingData" />
		<add key="FinishIniFilePath" value="Defaults\finishes.ini" />
		
		<add key="AreaFinishInitPath" value="Defaults\AreaFinishInit.xml" />
		<add key="LineFinishInitPath" value="Defaults\LineFinishInit.xml" />
		<add key="ZeroLineInitPath" value="Defaults\ZeroLineInit.xml" />
		<add key="SeamLineFinishInitPath" value="Defaults\SeamLineFinishInit.xml" />
		
		<add key="AreaBaseFinishInitPath" value="Defaults\AreaBaseFinishInit.xml" />
		<add key="LineBaseFinishInitPath" value="Defaults\LineBaseFinishInit.xml" />
		<add key="ZeroLineBaseInitPath" value="Defaults\ZeroLineBaseInit.xml" />
		<add key="SeamLineBaseFinishInitPath" value="Defaults\SeamLineBaseFinishInit.xml" />
		
		<add key="SeamLineFinishInitPath" value="Defaults\SeamLineFinishInit.xml" />
		<add key="CountersFilePath" value="Defaults\Counters.xml" />
		<add key="OperatingMode" value="Normal" />
		<add key="LineDrawoutMode" value="ShowLineDrawout" />
		<add key="YGridlineCountDefaultValue" value="24" />
		<add key="GridlineOffset" value="0.1" />
		<add key="ShowGridlineNumbers" value="True" />

		<!-- Grid, rulers and pan and zoom-->

		<add key="ShowGrid" value="True" />
		<add key="ShowRulers" value="True" />
		<add key="ShowPanAndZoom" value="True" />
		<add key="LockScrollWhenDrawingSmallerThanCanvas" value="False" />

		<!-- Grid attributes-->

		<add key="GridSpacingInInches" value="0.25" />
		<add key="GridOffsetInInches" value="0.0" />

		<!-- Filter form display format-->

		<add key="ShowAreaFilterFormAsModal" value="False" />
		<add key="ShowLineFilterFormAsModal" value="False" />
		<add key="ShowSeamFilterFormAsModal" value="False" />

		<!-- Edit form display format-->

		<add key="ShowAreaEditFormAsModal" value="False" />
		<add key="ShowLineEditFormAsModal" value="False" />
		<add key="ShowSeamEditFormAsModal" value="False" />
		<add key="ShowFieldGuideEditFormAsModal" value="False" />

		<!-- Lock Areas in Seam Mode -->

		<add key="LockAreaWhen100PctSeamed" value="true" />
		
		<!-- Snap and guides -->

		<!-- Snap settings-->

		<add key="SnapToAxis" value="True" />
		<add key="SnapResolutionInDegrees" value="20" />
		<add key="SnapDistance" value="0.5" />

		<!-- Base guide settings-->

		<add key="ShowGuides" value="True" />
		<add key="KeepInitialGuideOnCanvas" value="True" />
		<add key="KeepAllGuidesOnCanvas" value="False" />

		<!-- Field guide settings-->

		<add key="FieldGuideADefaultValue" value="255" />
		<add key="FieldGuideRDefaultValue" value="255" />
		<add key="FieldGuideGDefaultValue" value="0" />
		<add key="FieldGuideBDefaultValue" value="0" />
		<add key="FieldGuideWidthInPtsDefaultValue" value="2" />
		<add key="FieldGuideOpacityDefaultValue" value="1" />
		<add key="FieldGuideLineStyleDefaultValue" value="1" />

		<!-- Area Edit Settings Defaults -->

		<add key="AreaEditSettingsDefaultIndex" value="0" />
		<add key="AreaEditSettingColor1" value="Argb(255,0,255,255)" />
		<add key="AreaEditSettingColor2" value="Argb(255,255,0,255)" />

		<!-- Line Edit Settings Defaults -->

		<add key="LineEditSettingsDefaultIndex" value="0" />
		<add key="LineEditSettingColor1" value="Argb(255,0,255,255)" />
		<add key="LineEditSettingColor2" value="Argb(255,255,0,255)" />
		<add key="LineEditSettingColor1Intensity" value="100" />
		<add key="LineEditSettingColor2Intensity" value="100" />

		<!-- Area Mode Shortcut Defaults -->

		<!-- Right Handed -->
		<add key="AreaStateCompleteShape[Rght]" value="ENTER*" />
		<add key="AreaStateCompleteShapeByIntersection[Rght]" value="3*" />
		<add key="AreaStateCompleteShapeByMax[Rght]" value="+*" />
		<add key="AreaStateCompleteShapeByMin[Rght]" value="-*" />
		<add key="AreaStateCompleteRotatedShape[Rght]" value="\" />
		<add key="AreaStateEraseLastLine[Rght]" value="BS*" />
		<add key="AreaStateCancelShapeInProgress[Rght]" value="DEL*" />
		<add key="AreaStateDeleteSelectedShape[Rght]" value="D" />
		<add key="AreaStateToggleZeroLineMode[Rght]" value="0*" />
		<add key="AreaStateTakeout[Rght]" value="7*" />
		<add key="AreaStateTakeoutAndFill[Rght]" value="6*" />
		<add key="AreaStateEmbedShape[Rght]" value="4*" />
		<add key="AreaStateCopyAndPaste[Rght]" value="9*" />
		<add key="AreaStateToggleFixedWidth[Rght]" value="F3*" />
		<add key="AreaStateProcessFixedWidthJump[Rght]" value="F4*" />
		<add key="AreaStateD2XLineHGuides[Rght]" value="F1*" />
		<add key="AreaStateD2XLineVGuides[Rght]" value="F2*" />
		<add key="AreaStateSetSelectedAreas[Rght]" value="00*" />
		
		<!-- Left Handed -->
		<add key="AreaStateCompleteShape[Left]" value="ENTER*" />
		<add key="AreaStateCompleteShapeByIntersection[Left]" value="3*" />
		<add key="AreaStateCompleteShapeByMax[Left]" value="+*" />
		<add key="AreaStateCompleteShapeByMin[Left]" value="-*" />
		<add key="AreaStateCompleteRotatedShape[Left]" value="\" />
		<add key="AreaStateEraseLastLine[Left]" value="BS*" />
		<add key="AreaStateCancelShapeInProgress[Left]" value="DEL*" />
		<add key="AreaStateDeleteSelectedShape[Left]" value="D" />
		<add key="AreaStateToggleZeroLineMode[Left]" value="0*" />
		<add key="AreaStateTakeout[Left]" value="7*" />
		<add key="AreaStateTakeoutAndFill[Left]" value="6*" />
		<add key="AreaStateEmbedShape[Left]" value="4*" />
		<add key="AreaStateCopyAndPaste[Left]" value="9*" />
		<add key="AreaStateToggleFixedWidth[Left]" value="F3*" />
		<add key="AreaStateProcessFixedWidthJump[Left]" value="F4*" />
		<add key="AreaStateD2XLineHGuides[Left]" value="F1*" />
		<add key="AreaStateD2XLineVGuides[Left]" value="F2*" />
		<add key="AreaStateSetSelectedAreas[Left]" value="00*" />

		<!-- Description -->

		<add key="AreaStateCompleteShape[Desc]" value="Complete the shape with a connecting line to the shape's origin" />
		<add key="AreaStateCompleteShapeByIntersection[Desc]" value="Complete the shape using two connecting lines with the second line perpendicular to the shape's origin" />
		<add key="AreaStateCompleteShapeByMax[Desc]" value="Complete the shape using two connecting lines preferring a maximum area" />
		<add key="AreaStateCompleteShapeByMin[Desc]" value="Complete the shape using two connecting lines preferring a minimum area" />
		<add key="AreaStateCompleteRotatedShape[Desc]" value="Complete the shape using two connecting lines using the first line in the area to define parallel and perpendicular" />
		<add key="AreaStateEraseLastLine[Desc]" value="Deletes the last perimeter line drawn for the current shape being drawn.  Deletes the shape when only the origin point remains." />
		<add key="AreaStateCancelShapeInProgress[Desc]" value="Deletes the current shape being drawn." />
		<add key="AreaStateDeleteSelectedShape[Desc]" value="Deletes the selected shape" />
		<add key="AreaStateToggleZeroLineMode[Desc]" value="Toggle the zero line command.  When activated the perimeter lines will not be associated with any line type." />
		<add key="AreaStateTakeout[Desc]" value="Creates a void within a shape and replaces it with the currently selected area finish type." />
		<add key="AreaStateTakeoutAndFill[Desc]" value="Removes an area contained with a shape and replaces it with the currenlty selected area finish type." />
		<add key="AreaStateEmbedShape[Desc]" value="Locate a shape on top of another shape (e.g. area rug over wood)" />
		<add key="AreaStateCopyAndPaste[Desc]" value="Copies and pastes a shape." />
		<add key="AreaStateToggleFixedWidth[Desc]" value="Toggle the Fixed Width checkbox to checked or unchecked." />
		<add key="AreaStateProcessFixedWidthJump[Desc]" value="Toggles the Fixed width Jump command." />
		<add key="AreaStateD2XLineHGuides[Desc]" value="Draw a 2X horizontal line between field guides" />
		<add key="AreaStateD2XLineVGuides[Desc]" value="Draw a 2X verticle line between field guides" />
		<add key="AreaStateSetSelectedAreas[Desc]" value="Set selected areas to current material" />

		<!-- Line Mode Shortcut Defaults -->

		<!-- Right Handed -->

		<add key="LineStateJump[Rght]" value="ENTER*" />
		<add key="LineStateSingleLine[Rght]" value="1*" />
		<add key="LineStateDoubleLine[Rght]" value="2*" />
		<add key="LineStateDuplicateLine[Rght]" value="3*" />
		<add key="LineStateToggleDoorTakeout[Rght]" value="F4*" />
		<add key="LineStateEraseLastLine[Rght]" value="BS*" />
		<add key="LineStateDeleteSelectedLine[Rght]" value="D" />
		<add key="LineStateD2XLineHGuides[Rght]" value="F1*" />
		<add key="LineStateD2XLineVGuides[Rght]" value="F2*" />
		<add key="LineStateSetSelectedLines[Rght]" value="00*" />

		<!-- Left Handed -->

		<add key="LineStateJump[Left]" value="ENTER*" />
		<add key="LineStateSingleLine[Left]" value="1*" />
		<add key="LineStateDoubleLine[Left]" value="2*" />
		<add key="LineStateDuplicateLine[Left]" value="3*" />
		<add key="LineStateToggleDoorTakeout[Left]" value="F4*" />
		<add key="LineStateEraseLastLine[Left]" value="BS*" />
		<add key="LineStateDeleteSelectedLine[Left]" value="D" />
		<add key="LineStateD2XLineHGuides[Left]" value="F1*" />
		<add key="LineStateD2XLineVGuides[Left]" value="F2*" />
		<add key="LineStateSetSelectedLines[Left]" value="00" />

		<!-- Description -->

		<add key="LineStateJump[Desc]" value="Starts a new sequence of 1X lines anywhere on the canvas." />
		<add key="LineStateSingleLine[Desc]" value="Draws signle lines.  Will continue to use the end point of the last line drawn as the first point of the new line until the jump or 2X command is invoked." />
		<add key="LineStateDoubleLine[Desc]" value="Draws double lines.  After the second point in a 2X line is drawn, the next point willl automatically be the first point of the new line." />
		<add key="LineStateDuplicateLine[Desc]" value="After a 2x line has been drawn, the line can be duplicated by clicking on a new point on the canvas.  1X lines cannot be duplicated." />
		<add key="LineStateToggleDoorTakeout[Desc]" value="Toggles the door take-out Activate command." />
		<add key="LineStateEraseLastLine[Desc]" value="Deletes the last line drawn." />
		<add key="LineStateDeleteSelectedLine[Desc]" value="Deletes the selected line." />
		<add key="LineStateD2XLineHGuides[Desc]" value="Draw a 2X horizontal line between field guides" />
		<add key="LineStateD2XLineVGuides[Desc]" value="Draw a 2X verticle line between field guides" />
		<add key="LineStateSetSelectedLines[Desc]" value="Set selected line to current material" />

		<!-- Seam Mode Shortcut Defaults -->

		<!-- Right Handed -->
		<add key="SeamStateEraseLastLine[Rght]" value="`" />
		<add key="SeamStateCompleteShape[Rght]" value="C" />
		<add key="SeamStateCancelShapeInProgress[Rght]" value="X" />

		<!-- Left Handed -->
		<add key="SeamStateEraseLastLine[Left]" value="BACK" />
		<add key="SeamStateCompleteShape[Left]" value="C" />
		<add key="SeamStateCancelShapeInProgress[Left]" value="X" />

		<!-- Menu Mode Shortcut Defaults -->

		<!-- Right Handed -->
		<add key="MenuStateZoomIn[Rght]" value="+" />
		<add key="MenuStateZoomOut[Rght]" value="-" />
		<add key="MenuStateAreaMode[Rght]" value="Z" />
		<add key="MenuStateLineMode[Rght]" value="X" />
		<add key="MenuStateSeamMode[Rght]" value="C" />
		<add key="MenuStateAlignToGrid[Rght]" value="S" />
		<add key="MenusStateReverseAlignToGridShiftKey[Rght]" value="SPACEBAR" />
		<add key="MenuStateDeleteFieldGuides[Rght]" value="**" />


		<!-- Left Handed -->
		<add key="MenuStateZoomIn[Left]" value="+" />
		<add key="MenuStateZoomOut[Left]" value="-" />
		<add key="MenuStateAreaMode[Left]" value="Z" />
		<add key="MenuStateLineMode[Left]" value="X" />
		<add key="MenuStateSeamMode[Left]" value="C" />
		<add key="MenuStateAlignToGrid[Left]" value="S" />
		<add key="MenusStateReverseAlignToGridShiftKey[Left]" value="SPACEBAR" />
		<add key="MenuStateDeleteFieldGuides[Left]" value="**" />

		<!-- Description -->

		<add key="MenuStateZoomIn[Desc]" value="Zoom in" />
		<add key="MenuStateZoomOut[Desc]" value="Zoom out" />
		<add key="MenuStateAreaMode[Desc]" value="Area mode" />
		<add key="MenuStateLineMode[Desc]" value="Line mode" />
		<add key="MenuStateSeamMode[Desc]" value="Seam mode" />
		<add key="MenuStateAlignToGrid[Desc]" value="Reverse the activation state of the Align to grid function" />
		<add key="MenusStateReverseAlignToGridShiftKey[Desc]" value="As a shift-key, executes the opposite action shown for the current activation state of the Align to grid function.  As a shift-key, the key must be held down while using this shortcut.  Using this shortcut key will not change the active state of the Align to grid function itself." />
		<add key="MenuStateDeleteFieldGuides[Desc]" value="Delete Field Guides" />

		<!-- Miscellaneous Shortcut Defaults -->

		<!-- Right Handed -->
		<add key="MiscStateZoomIn[Rght]" value="+" />
		<add key="MiscStateZoomOut[Rght]" value="-" />
		<add key="MiscStateToggleShowMeasuringStick[Rght]" value="T" />
		<add key="MiscShowExtendedCrosshairs[Rght]" value="B" />
		<add key="MiscShowUnseamedAreas[Rght]" value="," />
		<add key="MiscShowZeroAreas[Rght]" value="/" />

		<!-- Left Handed -->
		<add key="MiscStateZoomIn[Left]" value="+" />
		<add key="MiscStateZoomOut[Left]" value="-" />
		<add key="MiscStateToggleShowMeasuringStick[Left]" value="T" />
		<add key="MiscShowExtendedCrosshairs[Left]" value="B" />
		<add key="MiscShowUnseamedAreas[Left]" value="," />
		<add key="MiscShowZeroAreas[Left]" value="/" />

		<!-- Description -->

		<add key="MiscStateZoomIn[Desc]" value="Zoom in" />
		<add key="MiscStateZoomOut[Desc]" value="Zoom out" />
		<add key="MiscStateToggleShowMeasuringStick[Desc]" value="Toggle Show Measuring Stick" />
		<add key="MiscShowExtendedCrosshairs[Desc]" value="Show Extended Crosshairs" />
		<add key="MiscShowUnseamedAreas[Desc]" value="Show Unseamed Areas" />
		<add key="MiscShowZeroAreas[Desc]" value="Show Zero Areas" />

		<!-- Shortcut Orientation -->

		<add key="ShortcutOrientation" value="RightHanded" />

		<!-- Edit forms display policies -->

		<add key="ShowAreaEditFormAsModal" value="True" />
		<add key="ShowLineEditFormAsModal" value="True" />
		<add key="ShowSeamEditFormAsModal" value="True" />

		<!-- Underages and Overages minimums -->

		<add key="MinOverageWidthInInchesDefaultValue" value="1" />
		<add key="MinOverageLengthInInchesDefaultValue" value="1" />
		<add key="MinUnderageWidthInInchesDefaultValue" value="1" />
		<add key="MinUnderageLengthInInchesDefaultValue" value="1" />

		<add key="MinOverComboWidthInInches" value="12" />
		<add key="MinOverComboLengthInInches" value="12" />
		<add key="MinUnderComboWidthInInches" value="12" />
		<add key="MinUnderComboLengthInInches" value="12" />

		<add key="ClientSettingsProvider.ServiceUri" value="" />

		<!-- Automatic update of seams and cuts when roll width or scale changes-->

		<add key="AutoReseamAndCutOnRollWidthOrScaleChange" value="False" />

		<!-- Seam/Area/Over/Under Tags-->

		<add key="AreaIndexFontInPts" value="20" />
		<add key="CutIndexFontInPts" value="14" />
		<add key="CutIndexCircleRadius" value=".25" />
		<add key="ShowCutIndexCircles" value="True" />
		<add key="OverageIndexFontInPts" value="14" />
		<add key="UnderageIndexFontInPts" value="14" />

		<!-- Counters and counter formatting-->

		<add key="CounterSmallCircleRadius" value=".1" />
		<add key="CounterMediumCircleRadius" value=".2" />
		<add key="CounterLargeCircleRadius" value=".3" />

		<add key="CounterSmallFontInPts" value="8" />
		<add key="CounterMediumFontInPts" value="12" />
		<add key="CounterLargeFontInPts" value="16" />

		<!-- Drawing scale default value -->

		<add key="DefaultDrawingScaleInInches" value="12" />

		<!-- Set scale reminder default value -->

		<add key="ShowSetScaleReminder" value="True" />

		<!-- New drawing size -->

		<add key="DefaultNewDrawingWidthInInches" value="20" />
		<add key="DefaultNewDrawingHeightInInches" value="12" />

		<!-- Precisions -->

		<add key="GraphicsPrecision" value="6" />

		<!-- Design state initial value -->

		<add key="InitProjectDesignState" value="1" />

		<add key="StartupFullScreenMode" value="True" />
		<add key="grdColorSize" value="0,0,0|0.0125" />
		<add key="keystrokes" value="True" />
		<add key="CursorGuides" value="0,0,0|0.0125" />
		<add key="smallfillwastepercent" value="0.25" />

		<add key="alloweditingofshortcutkeys" value="False" />
		<add key="alloweditingoftooltips" value="False" />

		<!-- Mouse wheel zoom interval -->

		<add key="MouseWheelZoomInterval" value="10" />
    
    <!-- Zoom In / Out Button Percent -->

    <add key="ZoomInOutButtonPercent" value="25" />

    <!-- Arrow Move Increment -->

		<add key="ArrowMoveIncrement" value="1" />

		<!-- Autosave -->

		<add key="AutosaveEnabled" value="False" />
		<add key="AutosaveIntervalInSeconds" value="60" />

		<!-- Debug -->

		<add key="ValidateRolloutAndCutWidth" value="False" />
		<add key="UpdateDebugFormDynamically" value="False" />

		<!-- Trace Logging -->

		<add key="TraceLogLevelInfo" value="True" />
		<add key="TraceLogLevelError" value="True" />
		<add key="TraceLogLevelException" value="True" />
		<add key="TraceLogLevelMethodCall" value="False" />

    <!-- Validate ON Project Save -->

    <add key="ValidateOnProjectSave" value="True" />
    
		<!-- Roll Width Default Values -->

		<add key="RollWidthDefaultValueFeet" value="12" />
		<add key="RollWidthDefaultValueInches" value="0" />
		<add key="RollOverlapDefaultValueInches" value="0" />
		<add key="RollExtraPerCutDefaultValueInches" value="3" />

		<!-- Show area outline in line mode-->
		
		<add key="ShowAreaOutlineInLineMode" value="False"/>
	</appSettings>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<userSettings>
		<FloorMaterialEstimator.Properties.Settings>
			<setting name="keystrokes" serializeAs="String">
				<value>True</value>
			</setting>
		</FloorMaterialEstimator.Properties.Settings>
	</userSettings>
</configuration>
